<h1>Stupid Coaching</h1>
<h4>Ask your coach anything:</h4>


<div class="container">
  <form action="answer" class="form-group">
    <div class="row">
      <div class="col-xs-9">
        <input type="text" class="form-control form-inline" name="question" placeholder="Your question here">
      </div>
      <div class="col-xs-3">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>
