// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Open Sans', sans-serif;
  h1, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-left: 30px;
    padding-top: 20px;
  }
  p {
    border-left: 5px solid lightgrey;
    font-size: 20px;
  }
}

.container {
  margin-left: 10px;
}

p {
  padding: 10px;
}

.btn {
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

#answer {
  background-color: #FFEEE1;
}
